/* Base */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
a {
    text-decoration: none;
}
ul  {
    list-style: none;
    margin: 0;
    padding: 0;
} 

img {
    display: block;
}

order-button {
    font-family: inherit;
}
   

*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    width: 1440px;
    
 }

.container {
    width: 1128px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    align-items: center;
   
}

.navigation {
    display: flex;
    align-items: center;
   }


.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
   
   }
.logo-logotype {
color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;

}
.nav-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
   
   
}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
     }

    .address {
        font-style: normal;
        margin-left: auto;
     }

    .address-list {
        display: flex;
        gap: 40px;
        
    }

.address-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    }

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}

.main {
    width: 1440px;
}
/* Hero */



.main {
    
   
    
display: block;
margin: auto;
}


.hero-section {
  width: 1440px;
 
}
.hero-container {
    background-color: #2E2F42;
   
    text-align: center;
    padding: 188px 472px;
    
   
   
}



.hero-text {
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    padding: auto;

    margin-bottom: 48px;
    padding: 16px 32px;
  }
   






.order-button {
   
    margin: 0 auto;
    background-color: #4D5AE5;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    display: block;
}

.order-button:hover,
  .order-button:focus {
   background-color:  #404BBF;
   cursor: pointer;
}
    


/* Our advantage */
.container{
    width: 1128px;
   
}
.advantages-container {
    display: flex;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 120px;
   
    }
    

    
.advantage-title {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.ul-advantages {
    display: flex; 
    gap: 24px;
    width: calc(100%-3*24px); 
    
}
    

.li-advantages {
  
    
}

.paragraph-advantage {
   
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
   
}


 /* Our Team */

 .container-team {
    padding-top: 32px; 
padding-bottom: 32px;
    
    
 }

 .section-team {
    background-color: #F4F4FD ; 
    padding: 120px 0; 
    
  }

.section-title-team {  
color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
margin-bottom: 72px;



}
.list-ul {
    display: flex;
    gap: 24px;
    width: calc(100%-3*24px); 
   
   
   
}


.team-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
color: #2E2F42;
text-align: center;
margin-bottom: 8px;


}

.paragraph-team {
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.02em;
    text-align: center; 
    
   
}


.team-item {
background-color: #fff;
width: 264px;
border-radius: 0px 0px 4px 4px;



}

/* Section Portfolio */
.div-portfolio {
    flex-wrap: wrap;
    
}

.section-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px; 
    padding: 32px 16px;
    
    border-top: none;
}

.portfolio-ul {
    display: flex;
    column-gap: 24px; 
    border: 1px solid #e7e9fc;
    
}




.section-portfolio-team {
 color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
margin-bottom: 72px; 





}

.portfolio-title {
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
color: #2E2F42;
row-gap: 48px;
width: calc((100% - 48px) / 3); 

}

.paragraph-portfolio {
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
flex-wrap: wrap;

}

/* Footer */

footer {
    display: block;
}
.footer-back {
background-color: #2E2F42;  
padding: 100px 0;
}









.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

    a {
        text-decoration: none;
   }
.logo-part {
    color: #F4F4FD;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    }

.text-footer {
    color: #F4F4FD;
    width: 264;
    height: 72;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
   
}









